.expertise-section {
  padding-top: 100px;
  padding-bottom: 90px;
  text-align: center;
  background-color: $primary;
  color: $white;
  z-index: -1;
  .rows-wrapper {
    font-size: 16px;
    >* {
      margin-top: 60px;
    }
  }
  .item-img {
    user-select: none;
    pointer-events: none;
  }
  .item-title {
    margin-top: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: $white;
    line-height: 1;
  }
  .item-content {
    margin-top: 16px;
  }

  @media (max-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 60px;
    .rows-wrapper {
      >* {
        margin-top: 0;
      }
      .row >* {
        margin-top: 32px;
      }
    }
  }
}
