.feedback-section {
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 90px;
  text-align: center;
  background: linear-gradient(114.06deg, #6868A8 22.94%, #6262AD 81.63%);
  color: $white;
  border-top: 7px solid $secondary;
  .bg-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    .left-bg {
      position: absolute;
      top: auto;
      left: -356px;
    }
    .right-bg {
      position: absolute;
      bottom: -30px;
      right: -184px;
    }
  }
  .container {
    max-width: 700px;
  }
  .form-wrapper {
    margin-top: 47px;
    .top-wrapper {
      display: flex;
      >*:first-child {
        margin-right: 20px;
      }
    }
    .btn {
      margin-top: 60px;
      box-shadow: none !important;
    }
    .textarea {
      margin-top: 20px;
      min-height: 88px;
    }
  }

  @media (max-width: 1200px) {
    padding-top: 46px;
    padding-bottom: 60px;
    .bg-wrapper {
      display: none;
    }
    .container {
      padding: 0 30px;
    }
    .form-wrapper {
      .top-wrapper {
        flex-direction: column;
        >*:first-child {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
      .btn {
        width: 100%;
      }
    }
  }
}
