.hero-section {
  overflow: hidden;
  min-height: 600px;
  canvas {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s opacity ease;
    &.is-loaded {
      opacity: 1;
    }
  }

  .bg-gradient {
    position: relative;
    width: 100%;
    height: 530px;
    z-index: -1;
    margin-bottom: -530px;
    transform: skewY(-12deg);
    transform-origin: 0 100%;
    background: linear-gradient(90deg, hsla(260, 75%, 64%, 1) 0%, hsla(360, 75%, 64%, 1) 100%) repeat-y;
    &:after {
      content: "";
      position: absolute;
      display: block;
      background-color: #F6F6FC;
      height: calc(100% + 400px);
      left: calc(50% + 180px);
      right: 0;
      top: 0;
      z-index: -1;
      transform-origin: 100%;
      mix-blend-mode: color-burn;
    }
  }
  .grid-wrapper {
    max-width: 1080px;
    padding: 120px 20px 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(540px, 1fr) 1fr;
  }
  .hero-content {
    align-self: center;
    position: relative;
    .title {
      color: $dark;
    }
    .sub-title {
      margin-top: 69px;
      font-weight: 500;
      font-size: 24px;
      max-width: 524px;
    }
    .action-button {
      margin-top: 79px;
    }
  }
  .image-wrapper {
    position: relative;
    width: 200px;
    min-height: 779px;
  }

  @media (max-width: 1200px) {
    .bg-gradient {
      height: 340px;
      margin-bottom: -340px;
      &:after {
        display: none;
      }
    }
    .grid-wrapper {
      display: flex;
      padding: 190px 0 60px;
      max-width: 920px;
      .image-wrapper {
        display: none;
      }
    }
  }
  @media (max-width: 992px) {
    .grid-wrapper {
      max-width: 650px;
    }
  }
  @media (max-width: 768px) {
    .grid-wrapper {
      max-width: 490px;
    }
    .hero-content {
      .sub-title {
        margin-top: 41px;
        font-size: 19px;
      }
      .action-button {
        margin-top: 54px;
        width: 100%;
      }
    }
  }
  @media (max-width: 576px) {
    .grid-wrapper {
      padding: 160px 30px 50px;
    }
  }
}
