.our-work-section {
  padding-top: 305px;
  padding-bottom: 90px;
  text-align: center;
  .container {
    max-width: 1260px;
  }
  .rows-wrapper {
    font-size: 16px;
    >* {
      &:first-child {
        margin-top: 60px;
      }
      margin-top: 84px;
    }
  }
  .item-img {
    user-select: none;
    pointer-events: none;
  }
  .item-title {
    margin-top: 6px;
    text-transform: uppercase;
    font-weight: 700;
    color: $secondary;
    line-height: 1;
  }
  .item-content {
    margin-top: 16px;
    padding: 0 24px;
  }

  @media (max-width: 1200px) {
    padding-top: 130px;
    padding-bottom: 60px;
    .rows-wrapper {
      >* {
        &:first-child {
          margin-top: 0;
        }
        margin-top: 0;
      }
      .row >* {
        margin-top: 32px;
      }
    }
  }
  @media (max-width: 576px) {
    .item-img img {
      max-width: 100%;
    }
    .item-content {
      padding: 0;
    }
  }
}
