.reviews-section {
  padding-top: 100px;
  padding-bottom: 115px;
  text-align: center;
  .slick-slider {
    padding-bottom: 50px;
    margin-top: 60px;
  }
  .slick-dots {
    li {
      margin: 0 5px 0 0;
      width: 7px;
      height: 7px;
      transition: 0.3s all linear;
      &.slick-active {
        width: 28px;
        button {
          background-color: rgba($primary, 1);
        }
      }
      button {
        padding: 0;
        width: 100%;
        height: 7px;
        background-color: rgba($primary, 0.3);
        border-radius: 20px;
        &:before {
          display: none;
        }
      }
    }
  }
  .slide-content {
    display: flex;
    align-items: flex-start;
    padding: 40px 14px 0 21px;
    position: relative;
    .b-avatar {
      background-color: transparent;
      .b-avatar-img img {
        object-fit: contain;
        user-select: none;
        pointer-events: none;
      }
    }
    .quotes {
      position: absolute;
      top: 0;
      left: 95px;
    }
    .text-wrapper {
      text-align: left;
      margin-left: 21px;
    }
    .comment {
      font-size: 16px;
    }
    .hr {
      display: block;
      width: 24px;
      height: 1px;
      background-color: $primary;
      margin-top: 24px;
    }
    .author-name {
      margin-top: 15px;
      font-weight: 700;
      color: $primary;
    }
    .author-position {
      margin-top: 2px;
      font-size: 14px;
      color: rgba($primary, .7);
    }
  }

  @media (max-width: 576px) {
    padding-top: 60px;
    padding-bottom: 80px;
    .slick-slider {
      padding-bottom: 20px;
    }
    .slide-content {
      padding: 40px 0 0 0;
    }
    .slick-dots {
      text-align: left;
      padding-left: 100px;
    }
  }
}
