.services-section {
  text-align: center;
  margin-top: -120px;
  position: relative;
  z-index: -1;
  .mask-wrapper {
    position: relative;
    .bg-mask {
      position: absolute;
      display: block;
      background-color: #F6F6FC;
      height: 100%;
      left: 0;
      right: 0;
      z-index: -1;
      transform: skewY(-12deg);
      top: 0;
      transform-origin: 100%;
    }
  }
  .content-wrapper {
    padding-top: 305px;
  }
  .rows-wrapper {
    font-size: 16px;
    >* {
      &:first-child {
        margin-top: 64px;
      }
      margin-top: 46px;
    }
  }
  .item-img {
    user-select: none;
    pointer-events: none;
  }
  .item-title {
    margin-top: 26px;
    text-transform: uppercase;
    font-weight: 700;
    color: $primary;
    line-height: 1;
  }
  .item-content {
    margin-top: 16px;
  }

  @media (max-width: 1200px) {
    margin-top: 0;
    .content-wrapper {
      padding-top: 120px;
      padding-bottom: 40px;
    }
    .rows-wrapper {
      >* {
        &:first-child {
          margin-top: 0;
        }
        margin-top: 0;
      }
      .row >* {
        margin-top: 42px;
      }
    }
  }
}
