html {
  scroll-behavior: smooth;
}

body {
  color: $text-default;
  section {
    position: relative;
    z-index: 1;
  }
}

h1 {
  font-size: 80px;
  line-height: 1;
  font-weight: 900;
}
h2 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 900;
}

.form-control {
  min-height: 48px;
  &::placeholder {
    color: #9EABBD;
  }
}

.fz-14 { font-size: 14px }
.fz-18 { font-size: 18px }
.fw-500 { font-weight: 500 }
.mt-40 { margin-top: 40px }
.mb-40 { margin-bottom: 40px }

.bg-lines {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 0;
  user-select: none;
  pointer-events: none;
  .container {
    position: relative;
    display: flex;
    height: 100%;
    max-width: 1080px;
  }
  .line {
    position: absolute;
    width: 1px;
    border-right: 1px solid #d8d8d84f;
    height: 100%;
    &:nth-child(1) {
      left: 0;
    }
    &:nth-child(2) {
      left: 33.33%;
      border-right-style: dashed;
    }
    &:nth-child(3) {
      right: 33.33%;
      border-right-style: dashed;
    }
    &:nth-child(4) {
      right: 0;
    }
  }
  @media (max-width: 768px) {
    .line {
      &:nth-child(1) {
        left: 10px;
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        display: none;
      }
      &:nth-child(4) {
        right: 10px;
      }
    }
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 54px;
  }
  h2 {
    font-size: 36px;
  }
  p {
    line-height: 1.2;
  }
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.g-recaptcha {
  display: none;
}

.grecaptcha-badge {
  z-index: 999;
  bottom: 72px !important;
}
