$font-family-sans-serif:      Roboto, sans-serif;
$font-family-monospace:       SFMono-Regular, monospace;
$font-family-base:            $font-family-sans-serif;
$body-color:                  #000;

//Theme Colors
$white:   #fff;
$blue:    #179EF0;
$red:     #FF1A00;
$orange:  #FF9800;
$yellow:  #FFF500;
$green:   #52CA45;
$light:   #dedede;

$colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
    (
            "blue":       $blue,
            "red":        $red,
            "orange":     $orange,
            "green":      $green,
            "yellow":     $yellow,
            "light":      $light,
    ),
    $colors
);

$primary:       #6868A8;
$accent:        #F12D23;
$secondary:     #F592AA;
$success:       $green;
$info:          $blue;
$warning:       $orange;
$danger:        $red;
$light:         $light;
$dark:          #000;

$theme-colors: ();
$theme-colors: map-merge(
    (
            "primary":    $primary,
            "accent":     $accent,
            "secondary":  $secondary,
            "success":    $success,
            "info":       $info,
            "warning":    $warning,
            "danger":     $danger,
            "light":      $light,
            "dark":       $dark
    ),
    $theme-colors
);


// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  300;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:             $dark;
$yiq-text-light:            $white;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-padding-y:             .5rem;
$input-padding-x:             .75rem;
$btn-padding-y:               .6rem;
$btn-padding-x:               1.25rem;
$input-btn-font-family:       $font-family-base;
$input-btn-font-size:         14px;

$input-btn-focus-width:       0;

$input-btn-border-width:      0;

$btn-font-weight:             500;

// Links
//
// Style anchor elements.

$link-color:                              $body-color;
$link-hover-color:                        lighten($link-color, 5%);
$link-hover-decoration:                   none;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1080px
);

$grid-gutter-width:           40px;
