@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'),
  url('~assets/fonts/roboto-v29-latin-regular.woff') format('woff');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('~assets/fonts/roboto-v29-latin-500.woff') format('woff');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Bold'),
  url('~assets/fonts/roboto-v29-latin-700.woff') format('woff');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Black'),
  url('~assets/fonts/roboto-v29-latin-900.woff') format('woff');
}
