<template>
  <section id="about" class="about-section">
    <b-container>
      <h2 class="text-primary">
        About us
      </h2>
      <div class="mt-40 mb-40 content">
        Artasoft is a product and software development company based in Portugal
        We rely on our technological expertise and specialized industry experience to develop any type of web, mobile and hybrid app per your business requirements
        <b-collapse id="collapse-2">
          <br>
          Working with Artasoft, you'll benefit from:
          <ul class="mb-0">
            <li class="pt-3">
              A dedicated team of designers and developers focused on your project from start to finish.
            </li>
            <li class="pt-2">
              An extremely collaborative approach where you'll be involved at every step of the process.
            </li>
            <li class="pt-2">
              Total transparency when it comes to costs, timescales and any other information you need.
            </li>
          </ul>
        </b-collapse>
      </div>
      <b-link v-b-toggle.collapse-2 href="#" class="text-secondary text-uppercase fz-14 fw-500">
        Read more
      </b-link>
    </b-container>
  </section>
</template>

<script>
export default {
  name: 'AboutSection'
}
</script>

<style scoped>

</style>
