<template>
  <section id="expertise" class="expertise-section">
    <b-container>
      <h2>
        Engineering Expertise
      </h2>
      <p class="mt-40 fz-18 fw-500">
        Our experienced team of professionals provides a wide range of  range of services
      </p>
      <div class="rows-wrapper">
        <b-row>
          <b-col xl="4">
            <div class="item-img">
              <b-img src="/expertise/systems.svg" alt="systems" />
            </div>
            <div class="item-title">
              High Load Systems
            </div>
            <div class="item-content">
              We are focused on buildig high quality websites, full responsive web interfaces and mobile apps
            </div>
          </b-col>
          <b-col xl="4">
            <div class="item-img">
              <b-img src="/expertise/cloud.svg" alt="cloud" />
            </div>
            <div class="item-title">
              Cloud Solutions
            </div>
            <div class="item-content">
              Scalable cloud infrastructures desined by our team enable greater products and services accessibility and cut on-premise platforms costs
            </div>
          </b-col>
          <b-col xl="4">
            <div class="item-img">
              <b-img src="/expertise/devops.svg" alt="devops" />
            </div>
            <div class="item-title">
              DevOps
            </div>
            <div class="item-content">
              Our refind DevOps methodology can cut your time to market and costs using effective collaboration and increased team productivity
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col xl="4">
            <div class="item-img">
              <b-img src="/expertise/security.svg" alt="security" />
            </div>
            <div class="item-title">
              Security and Compliance
            </div>
            <div class="item-content">
              Observing regulatory security and compliance policies are vital for every organization. Our specialists is ready to help you out with any security issue you may be experiencing.
            </div>
          </b-col>
          <b-col xl="4">
            <div class="item-img">
              <b-img src="/expertise/blockchain.svg" alt="blockchain" />
            </div>
            <div class="item-title">
              Blockchain
            </div>
            <div class="item-content">
              We helping clients create reliable, trusted and sustainable ecosystems for their businesses.
            </div>
          </b-col>
          <b-col xl="4">
            <div class="item-img">
              <b-img src="/expertise/ai.svg" alt="ai" />
            </div>
            <div class="item-title">
              AI & Machine learning
            </div>
            <div class="item-content">
              Artificial intelligence and machine learning it's functions that automate processes and can be incorporated into everyday life. When used in a business setting, AI and ML can improve efficiencies and help you make better data-driven decisions so your business can grow and become more profitable.
            </div>
          </b-col>
        </b-row>
      </div>
    </b-container>
  </section>
</template>

<script>
export default {
  name: 'ExpertiseSection'
}
</script>

<style scoped>

</style>
