<template>
  <section id="feedback" class="feedback-section">
    <div class="bg-wrapper">
      <div class="left-bg">
        <b-img src="/feedback/left.svg" alt="left-bg" />
      </div>
      <div class="right-bg">
        <b-img src="/feedback/right.svg" alt="right-bg" />
      </div>
    </div>
    <b-container>
      <h2>
        Get in touch
      </h2>
      <p class="mt-40 fz-18 fw-500">
        We will get back to you with in 24 hours
      </p>
      <form class="form-wrapper" @submit.prevent="onSubmit">
        <div class="top-wrapper">
          <b-form-input v-model="form.name" placeholder="name" />
          <b-form-input v-model="form.email" type="email" placeholder="email" />
        </div>
        <b-textarea v-model="form.message" placeholder="Your question" class="textarea" />
        <recaptcha />
        <b-button type="submit" variant="secondary">
          Send
        </b-button>
      </form>
    </b-container>
  </section>
</template>

<script>
export default {
  name: 'FeedbackSection',
  data () {
    return {
      form: {
        name: null,
        email: null,
        message: null
      }
    }
  },
  async mounted () {
    try {
      await this.$recaptcha.init()
    } catch (e) {
      console.error(e)
    }
  },
  beforeDestroy () {
    this.$recaptcha.destroy()
  },
  methods: {
    async onSubmit () {
      try {
        const token = await this.$recaptcha.execute('login')
        // eslint-disable-next-line no-console
        console.log('ReCaptcha token:', token)
        //
        // await this.$axios.post('/api-url.com', this.form).then(() => {
        //   console.log('ok')
        // }).catch(() => {
        //   console.log('error')
        // })
        //
      } catch (error) {
        // eslint-disable-next-line no-console
        console.log('Login error:', error)
      }
    }
  }
}
</script>

<style scoped>

</style>
