<template>
  <section class="hero-section">
    <div class="bg-gradient">
      <canvas id="canvas" :class="{ 'is-loaded' : isMounted }" />
    </div>
    <div class="grid-wrapper">
      <div class="hero-content">
        <h1 class="title">
          Bring your ideas to life
        </h1>
        <div class="sub-title">
          Custom Product & Software Development Focused on your Success
        </div>
        <b-button href="#feedback" variant="primary" class="action-button">
          Get in touch
        </b-button>
      </div>
      <div>
        <div class="image-wrapper">
          <b-img src="/hero/hero-img@2x.png" width="1054" height="779" alt="hero" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>

export default {
  name: 'HeroSection',
  data () {
    return {
      time: 0,
      isMounted: false
    }
  },
  mounted () {
    if (process.browser) {
      // this.startAnimation()
      // eslint-disable-next-line no-undef
      const gradient = new Gradient()
      gradient.initGradient('#canvas')
      setTimeout(() => {
        this.isMounted = true
      }, 500)
    }
  },
  methods: {
    startAnimation () {
      const canvas = document.getElementById('canvas')
      if (!canvas) { return }
      const context = canvas.getContext('2d')
      let time = this.time
      const color = function (x, y, r, g, b) {
        context.fillStyle = `rgb(${r}, ${g}, ${b})`
        context.fillRect(x, y, 10, 10)
      }
      const R = function (x, y, time) {
        return (Math.floor(120 + 64 * Math.cos((x * x - y * y) / 300 + time)))
      }

      const G = function (x, y, time) {
        return (Math.floor(120 + 64 * Math.sin((x * x * Math.cos(time / 4) + y * y * Math.sin(time / 3)) / 300)))
      }

      const B = function (x, y, time) {
        return (Math.floor(120 + 64 * Math.sin(5 * Math.sin(time / 9) + ((x - 100) * (x - 100) + (y - 100) * (y - 100)) / 1100)))
      }
      for (let x = 0; x <= 30; x++) {
        for (let y = 0; y <= 30; y++) {
          color(x, y, R(x, y, time), G(x, y, time), B(x, y, time))
        }
      }
      time = time + 0.06
      this.time = time
      setTimeout(() => {
        requestAnimationFrame(this.startAnimation)
      }, 60)
    }
  }
}
</script>

<style>
#canvas {
  --gradient-color-1: #E73B54;
  --gradient-color-2: #F59F5C;
  --gradient-color-3: #965197;
  --gradient-color-4: #A0D4E5;
}
</style>
