<template>
  <section id="our-work" class="our-work-section">
    <b-container>
      <h2 class="text-primary">
        Our work
      </h2>
      <p class="mt-40 fz-18 fw-500">
        Success stories of our clients
      </p>
      <div class="rows-wrapper">
        <b-row>
          <b-col xl="4">
            <div class="item-img">
              <b-img src="/our-works/messenger@2x.png" width="376" height="239" alt="messenger" />
            </div>
            <div class="item-title">
              Messenger
            </div>
            <div class="item-content">
              A realtime messenger app with chat, video call and audio call feature using WebRTC, Socket.IO, Centrifugo. WebRTC provides fast and secure data exchange, end-to-end encryption between the peers guarantees high security of transmitted data. Therefore, the solution is also perfect for enterprises.
            </div>
          </b-col>
          <b-col xl="4">
            <div class="item-img">
              <b-img src="/our-works/tracking@2x.png" width="376" height="239" alt="tracking" />
            </div>
            <div class="item-title">
              GPS TRACKING
            </div>
            <div class="item-content">
              Application allows users to track registered trucks in real-time.
              With Google Maps or OpenStreetMap backed vehicle tracking map, you can access all your vehicle and driver.
            </div>
          </b-col>
          <b-col xl="4">
            <div class="item-img">
              <b-img src="/our-works/analytics@2x.png" width="376" height="239" alt="analytics" />
            </div>
            <div class="item-title">
              ANALYTICS
            </div>
            <div class="item-content">
              An online analytics tool for logisticians that allows to work with applications, see statuses and make detailed custom reports with export to a file.
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col xl="4">
            <div class="item-img">
              <b-img src="/our-works/calculator@2x.png" width="376" height="239" alt="calculator" />
            </div>
            <div class="item-title">
              Axle load calculator
            </div>
            <div class="item-content">
              User friendly online calculator that lets you visually configure most types of trucks. Add single or multiple payloads and software will display axle loads instantly.
            </div>
          </b-col>
          <b-col xl="4">
            <div class="item-img">
              <b-img src="/our-works/social@2x.png" width="376" height="239" alt="social" />
            </div>
            <div class="item-title">
              Professional social network
            </div>
            <div class="item-content">
              Social platform for sharing ideas and news with like-minded individuals where users can collaborate with each other. We created a large number of handy tools for all parties to foster interactions.
            </div>
          </b-col>
          <b-col xl="4">
            <div class="item-img">
              <b-img src="/our-works/mobile-app@2x.png" width="376" height="239" alt="mobile-app" />
            </div>
            <div class="item-title">
              Trucker Apps
            </div>
            <div class="item-content">
              This mobile application makes it easy for truck drivers to communicate with their dispatchers and send the live location to show where they are at any given time.
            </div>
          </b-col>
        </b-row>
      </div>
    </b-container>
  </section>
</template>

<script>
export default {
  name: 'OurWorkSection'
}
</script>

<style scoped>

</style>
