<template>
  <section id="comments" class="reviews-section">
    <b-container>
      <h2 class="text-primary">
        Customer reviews
      </h2>
      <p class="mt-40 fz-18 fw-500">
        What our customers say?
      </p>
      <VueSlickCarousel v-bind="settings">
        <div v-for="(item, index) in reviews" :key="index">
          <div class="slide-content">
            <b-avatar size="80" :src="item.avatar" />
            <b-img class="quotes" src="quotes.svg" alt="quotes" />
            <div class="text-wrapper">
              <p class="comment">
                {{ item.comment }}
              </p>
              <div class="hr" />
              <div class="author-name">
                {{ item.name }}
              </div>
              <div class="author-position">
                {{ item.position }}
              </div>
            </div>
          </div>
        </div>
      </VueSlickCarousel>
    </b-container>
  </section>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

const settings = {
  dots: true,
  arrows: false,
  focusOnSelect: true,
  infinite: true,
  speed: 500,
  slidesToShow: 3,
  slidesToScroll: 1,
  touchThreshold: 5,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 2
      }
    },
    {
      breakpoint: 768,
      settings: {
        slidesToShow: 1
      }
    }
  ]
}
const reviews = [
  {
    comment: 'Good, professional job, full understanding of the process and needs of customer. Always connected, very responsible\n',
    name: 'Anastasiia Sourisse',
    position: 'Anastasiia Sourisse',
    avatar: '/female-icon.svg'
  },
  {
    comment: 'Provided expert consultation on container management solutions',
    name: 'Shawn Gregg',
    position: 'Founder & Business Development at VantageCrypto',
    avatar: '/male-icon.svg'
  },
  {
    comment: 'Speedy service and high quality work, highly recommend!',
    name: 'Kristine Grube',
    position: 'Project Manager at sem.lv',
    avatar: '/female-icon.svg'
  },
  {
    comment: 'Reliable, fast, and great communication! Would highly recommend working with Art',
    name: 'Simon Gondeck',
    position: 'Founder/Lead Developer at SG Web Partners',
    avatar: '/male-icon.svg'
  }
]

export default {
  name: 'ReviewsSection',
  components: { VueSlickCarousel },
  data () {
    return {
      settings,
      reviews
    }
  }
}
</script>

<style scoped>

</style>
