<template>
  <section id="services" class="services-section">
    <div class="mask-wrapper">
      <div class="bg-mask" />
      <div class="content-wrapper">
        <b-container>
          <h2 class="text-primary">
            Meet our service
          </h2>
          <p class="mt-40 fz-18 fw-500">
            Use our talent to drive digital transformation solutiioins for your business
          </p>
          <div class="rows-wrapper">
            <b-row>
              <b-col xl="4">
                <div class="item-img">
                  <b-img src="/service-icons/product.svg" alt="product" />
                </div>
                <div class="item-title">
                  Product Scope
                </div>
                <div class="item-content">
                  A structured 7-day Process to align your product vision with your business goals
                </div>
              </b-col>
              <b-col xl="4">
                <div class="item-img">
                  <b-img src="/service-icons/marketing.svg" alt="marketing" />
                </div>
                <div class="item-title">
                  Marketing
                </div>
                <div class="item-content">
                  How does this benefit distinguish your company from its closest competitors?
                </div>
              </b-col>
              <b-col xl="4">
                <div class="item-img">
                  <b-img src="/service-icons/design.svg" alt="design" />
                </div>
                <div class="item-title">
                  UI/UX Design
                </div>
                <div class="item-content">
                  How does this benefit distinguish your company from its closest competitors?
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col xl="4">
                <div class="item-img">
                  <b-img src="/service-icons/builder.svg" alt="builder" />
                </div>
                <div class="item-title">
                  MVP Builder
                </div>
                <div class="item-content">
                  Go to market quickly with a high-quality Minimum Viable Product
                </div>
              </b-col>
              <b-col xl="4">
                <div class="item-img">
                  <b-img src="/service-icons/team.svg" alt="team" />
                </div>
                <div class="item-title">
                  Dedicated development Team
                </div>
                <div class="item-content">
                  Reduce your development costs and scale your delivery capacity by utilizing the largest talent pool
                  of IT specialists in Eastern Europe
                </div>
              </b-col>
              <b-col xl="4">
                <div class="item-img">
                  <b-img src="/service-icons/mobile.svg" alt="mobile" />
                </div>
                <div class="item-title">
                  Mobile App Development
                </div>
                <div class="item-content">
                  How does this benefit distinguish your company from its closest competitors?
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col xl="4">
                <div class="item-img">
                  <b-img src="/service-icons/testing.svg" alt="testing" />
                </div>
                <div class="item-title">
                  QA & Software Testing
                </div>
                <div class="item-content">
                  Cut your testing costs and shorter your time to market by leveraging out Software Quality Assurance experience
                </div>
              </b-col>
              <b-col xl="4">
                <div class="item-img">
                  <b-img src="/service-icons/server.svg" alt="server" />
                </div>
                <div class="item-title">
                  Server Maintenance
                </div>
                <div class="item-content">
                  We take care of complex server administration tasks such as backup restoration, server migration,
                  issue troubleshooting, service optimization, and more
                </div>
              </b-col>
              <b-col xl="4">
                <div class="item-img">
                  <b-img src="/service-icons/support.svg" alt="support" />
                </div>
                <div class="item-title">
                  Support
                </div>
                <div class="item-content">
                  We understand the importance of online visibility for your business - when your website doesn’t work,
                  potential customers disappear. We are always in touch and ready to help you
                </div>
              </b-col>
            </b-row>
          </div>
        </b-container>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'ServicesSection'
}
</script>

<style scoped>

</style>
