.btn {
  padding: 15px 90px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  white-space: nowrap;
  border-radius: 50px;
  outline: none;
  border: 0;
  box-shadow: 0 45px 18px rgba(0, 0, 0, 0.02), 0 26px 15px rgba(0, 0, 0, 0.08), 0 11px 11px rgba(0, 0, 0, 0.13), 0 3px 6px rgba(0, 0, 0, 0.15), 0 0 0 rgba(0, 0, 0, 0.15);
  &:active, &:focus {
    box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.13), 0px 3px 6px rgba(0, 0, 0, 0.15), 0px 0px 0px rgba(0, 0, 0, 0.15);
  }
}
