.header-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  backdrop-filter: blur(7px);
  background-color: transparent;
  padding: 41px 20px 0 48px;
  transition: 0.3s padding ease-out;
  align-items: flex-start;
  .nav-logo {
    margin-right: auto;
    height: 42px;
    display: flex;
    align-items: center;
  }
  .navbar-nav .nav-link {
    color: $white;
    font-weight: 700;
    margin-right: 40px;
    padding: 7px 10px;
    transition: 0.3s all ease;
    border-bottom: 4px solid transparent;
    &.active, &:hover {
      color: $white;
      border-color: $white;
    }
  }
  .navbar-toggler {
    border: none;
    color: white;
    padding: 0;
    .icon-wrapper {
      border-radius: 50px;
      height: 42px;
      width: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .icon {
      position: relative;
      height: 12px;
      width: 20px;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer;
      span {
        position: absolute;
        background-color: $white;
        width: 100%;
        height: 2px;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        &:nth-child(1) {
          top: 0;
          transform-origin: left center;
        }
        &:nth-child(2) {
          top: 5px;
          transform-origin: left center;
        }
        &:nth-child(3) {
          top: 10px;
          transform-origin: left center;
        }
      }
    }
    &.not-collapsed .icon span {
      &:nth-child(1) {
        transform: rotate(45deg);
        top: -2px;
        left: 2px;
      }
      &:nth-child(2) {
        width: 0;
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        top: 12px;
        left: 2px;
      }
    }
  }
  .navbar-collapse {
    flex-grow: 0;
  }
  &.fixed {
    padding: 16px 20px 8px 48px;
  }
  &.fixed:not(.mobile-open) {
    background-color: rgb(223 223 233 / 36%);
    .navbar-toggler {
      .icon span {
        background-color: $primary
      }
    }
    .navbar-nav .nav-link {
      color: $primary;
      &.active, &:hover {
        color: $primary;
        border-color: $secondary;
      }
    }
  }
  &.mobile-open {
    height: 100vh;
    background: linear-gradient(135deg, hsla(260, 75%, 64%, 0.7) 0%, hsla(360, 75%, 64%, 0.7) 100%) repeat-y;
  }

  @media (max-width: 1200px) {
    padding: 36px 20px 10px;
    &.fixed {
      padding: 12px 20px;
    }
    .navbar-collapse {
      opacity: 0;
      transition: 0.3s opacity ease;
      transition-delay: 0.3s;
      transition-property: opacity;
      &.show {
        opacity: 1;
      }
    }
    .navbar-nav {
      width: max-content;
      margin: 0 auto;
      text-align: center;
      .nav-link {
        color: $white;
        margin-top: 40px;
        margin-right: 0;
      }
    }
  }
}

.footer-section {
  position: relative;
  background-color: white;
  padding: 16px 40px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #A2ACD1;
  text-transform: uppercase;
  .logo-wrapper {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .footer-logo {
    margin-right: 12px;
  }
  .social a {
    margin-right: 10px;
  }
  @media (max-width: 1200px) {
    padding: 0;
    flex-direction: column-reverse;
    font-size: 11px;
    .logo-wrapper {
      width: 100%;
      padding: 16px 16px 19px 20px;
      border-top: 1px solid #EEEEF5;
      .copyright {
        margin-top: 3px;
      }
    }
    .footer-logo {
      margin-right: 8px;
      img {
        max-width: 108px;
      }
    }
    .social {
      margin: 14px auto;
    }
  }
}
