.movie-card {
  margin-bottom: 30px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 24px rgba(22, 52, 100, 0.16);
  border: none;
  >img {
    align-self: flex-start;
    width: 300px;
    min-width: 300px;
    object-fit: contain;
  }
  .additional-info {
    p {
      margin: 0;
    }
    ul {
      list-style: none;
      padding-left: 18px;
    }
    li {
      .key {
        font-weight: 500;
      }
      margin-bottom: 16px;
    }
  }

  @media (max-width: 1200px) {
    flex-direction: column !important;
    >img {
      align-self: center;
    }
  }
  @media (max-width: 576px) {
    >img {
      width: 100%;
    }
  }
}
