.search-filter {
  display: flex;
  padding: 24px 12px;
  justify-content: space-between;
  margin-bottom: 36px;
  .name-input {
    max-width: 240px;
    width: 100%;
    margin-right: 24px;
  }
  .genre-select {
    margin-right: 24px;
  }

  @media (max-width: 576px) {
    flex-wrap: wrap;
    .name-input, .genre-select, .btn {
      width: 100%;
      max-width: 100%;
      margin-top: 12px;
      margin-right: 0;
    }
  }
}
