.movie-page {
  padding-top: 40px;
  .additional-info {
    p {
      margin: 0;
    }
    ul {
      list-style: none;
      padding-left: 0;
    }
    li {
      .key {
        font-weight: 500;
      }
      margin-bottom: 8px;
    }
  }
  .movie-poster {
    max-width: 300px;
    width: 100%;
    min-width: 300px;
    position: sticky;
    top: 10px;
    margin-right: 27px;
    border-radius: 8px;
  }
  .movie-info {
    display: flex;
    align-items: flex-start;
  }

  @media (max-width: 1200px) {
    .movie-info {
      flex-direction: column;
    }
    .movie-poster {
      position: unset;
      margin-right: 0;
      align-self: center;
    }
    .movie-info-content {
      margin-top: 32px;
    }
  }
}
