<template>
  <div>
    <header-navbar />
    <div class="main-content">
      <nuxt />
    </div>
  </div>
</template>

<script>
import HeaderNavbar from '~/components/layouts/HeaderNavbar'
export default {
  name: 'DefaultLayout',
  components: { HeaderNavbar }
}
</script>

<style scoped>
</style>
