<template>
  <div>
    <div class="bg-lines">
      <b-container>
        <div class="line" />
        <div class="line" />
        <div class="line" />
        <div class="line" />
      </b-container>
    </div>
    <hero-section />
    <about-section />
    <services-section />
    <our-work-section />
    <expertise-section />
    <reviews-section />
    <feedback-section />
    <footer-section />
  </div>
</template>

<script>

import HeroSection from '~/components/sections/HeroSection'
import AboutSection from '~/components/sections/AboutSection'
import ServicesSection from '~/components/sections/ServicesSection'
import OurWorkSection from '~/components/sections/OurWorkSection'
import ExpertiseSection from '~/components/sections/ExpertiseSection'
import ReviewsSection from '~/components/sections/ReviewsSection'
import FeedbackSection from '~/components/sections/FeedbackSection'
import FooterSection from '~/components/layouts/FooterSection'
export default {
  name: 'IndexPage',
  components: { FooterSection, FeedbackSection, ReviewsSection, ExpertiseSection, OurWorkSection, ServicesSection, AboutSection, HeroSection },
  head () {
    return {
      title: 'Software development company - Artasoft',
      script: [{ src: '/gradient.js' }],
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Artasoft is a full-service software development company that drive your business growth'
        }
      ]
    }
  }
}
</script>
