<template>
  <footer class="footer-section">
    <div class="logo-wrapper">
      <div class="footer-logo">
        <b-img src="dark-logo.svg" alt="logo" />
      </div>
      <div class="copyright">
        © 2022 ARTASOFT. all rights reserved.
      </div>
    </div>
    <div class="social">
      <noindex>
        <a href="https://linkedin.com" target="_blank"><b-img src="icons/in.svg" alt="in" /></a>
        <a href="https://fb.com" target="_blank"><b-img src="icons/fb.svg" alt="fb" /></a>
        <a href="#https://instagrem.com" target="_blank"><b-img src="icons/inst.svg" alt="inst" /></a>
        <a href="https://twitter.com" target="_blank"><b-img src="icons/twitter.svg" alt="twitter" /></a>
        <a href="https://youtube.com" target="_blank"><b-img src="icons/yt.svg" alt="youtube" /></a>
      </noindex>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'FooterSection'
}
</script>

<style scoped>

</style>
