<template>
  <b-navbar toggleable="xl" variant="none" class="header-navbar" :class="{ 'fixed' : scrollPos > 50, 'mobile-open' : mobileMenu }">
    <div class="nav-logo">
      <b-img v-if="scrollPos > 50 && !mobileMenu" src="dark-logo.svg" alt="logo" />
      <b-img v-else src="logo.svg" alt="logo" />
    </div>
    <b-navbar-toggle target="nav-collapse">
      <div class="icon-wrapper">
        <div class="icon">
          <span />
          <span />
          <span />
        </div>
      </div>
    </b-navbar-toggle>
    <b-collapse id="nav-collapse" is-nav @show="mobileMenu = true" @hide="mobileMenu = false">
      <b-navbar-nav v-b-scrollspy>
        <b-nav-item :href="'#about'">
          About
        </b-nav-item>
        <b-nav-item :to="'#services'">
          Services
        </b-nav-item>
        <b-nav-item :to="'#our-work'">
          Our work
        </b-nav-item>
        <b-nav-item :to="'#expertise'">
          Expertise
        </b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
export default {
  name: 'HeaderNavbar',
  data () {
    return {
      scrollPos: 0,
      mobileMenu: false
    }
  },
  beforeMount () {
    if (process.browser) {
      window.addEventListener('scroll', this.handleScroll)
    }
  },
  beforeDestroy () {
    if (process.browser) {
      window.removeEventListener('scroll', this.handleScroll)
    }
  },
  methods: {
    handleScroll () {
      this.scrollPos = window.scrollY
    }
  }
}
</script>

<style scoped>

</style>
